@font-face {
    font-family: Raleway;
    src: url(Raleway/static/Raleway-Black.ttf);
}

body
{
    margin-left: 50px;
    margin-right: 50px;
}


/* COULEUR DES ICONES */

.fa-star
{
    color:#0065fc ;
}


/*                   LE NAVI DU HEADER                  */

.Navione
{
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
}
.Navi
{
  text-decoration: none;  
  color: black;
  padding: 20px;
  
}
.Navi:hover
{
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

h2
{
    font-weight: normal;

}


/*                  L'ENTÊTE DE LA PAGE WEB           */


#MainHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}


/*               MISE EN  FORME DU BOUTON RECHERCHER           */


.recherche 
{
    display: flex;
    justify-content: left;
}
.recherche input
{
    margin: 0px;
    padding: 0px;
    
}

.recherche button
{
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
  
}


/*                  LES BOUTONS FILTRES DANS LE HEADER            */


#Filtresbutton
{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-right: px;
    
}
.Buttonflitre
{
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 20px;
}

.filtre
{
    background-color: rgb(207, 206, 255);
    padding:10px;
    border-radius: 50%;

} 

 
/*               LA SECTION HEBERGEMENT A MARSEILLE              */


.sectionhebergement
{
    background-color: rgb(231, 229, 229);
    padding: 15px;
    width: 55%;
    height: auto;
}

#firstcontain
{
    display: flex;
    flex-wrap: wrap;
}

.hebergementvignette
{
    
    width: 30%;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 5px 20px 5px;
    box-shadow: 0 5px 15px #0000002e;
    background: white;
}
.hebergementvignette img 
{
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 120px;
    background-color: white;
}
.hebergementvignette figcaption
{
    margin: 20px 20px;
}

.Navisection
{
    text-decoration: none;
    color: black;
    
}



/*                     SECTION LES PLUS POPULAIRES               */


.sectionpopulaire
{
    background-color: rgb(231, 229, 229);
    border-left: 1px solid black;
}
#secondcontain
{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(224, 224, 224);
}

.hebergementpopulaire
{
    
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0px 0px 20px 0px;
    padding: 5px;
    background: white;
    box-shadow: 0 5px 15px #0000002e;
}

.hebergementpopulaire img
{
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
    background-color: white;
    width: 100%;
    height: 120px;
    object-fit: cover;

}

.hebergementpopulaire figcaption
{
    
    margin: 20px 20px;
    
}


/*                   ALIGNEMENT DES SECTION HEBERGEMENTS ET POPULAIRES                */


.sectionhebergement
{
    width: 66%;
    height: auto;
}

#logement
{
    display: flex;
    
  
}


/*                      DERNIERE SECTION / ACTIVITES A MARSEILLE                    */



#Dernieresection
{
    

    
}

.Activite
{
    

}

.Activitemain
{
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0px 0px 20px 0px;
    padding: 5px;
    background: white;
    box-shadow: 0 5px 15px #0000002e;
     
}

.Activitesecond
{
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0px 0px 20px 0px;
    padding: 5px;
    background: white;
    box-shadow: 0 5px 15px #0000002e;

}



/*                   LE FOOTER DE LA PAGE                       */ 


footer
{
    background-color: rgb(226, 226, 226);
    display: flex
    

}
footer a
{
    text-decoration: none;
    color: black;
}

ul
{
   padding-right: 200px;
   list-style: none;
}

ul h2
{
    font-weight: bold ;
}


