@font-face {
    font-family: Raleway;
    src: url(Raleway/static/Raleway-Regular.ttf);
}

#MainHeader
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.Navi
{
    border: 10px;
}

.Searchbutton
{
    background-color: #0065FC;
  color: white;
  font-weight: normal;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 2px;
  font-size: 20px;
  margin: 5px;
}

#Filtresbutton
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 800px;
    
}

.Button
{
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

i
{
    background-color: rgb(207, 206, 255);
    padding:10px;
    border-radius: 50%;

}

#Sectionhebergement
{
    
    

    
}